<!DOCTYPE html>
<html>
  <head>
    <title>Metool</title>
    <%= csrf_meta_tags %>

    <link href="https://fonts.googleapis.com/css?family=Montserrat:200,300,400,500" rel="stylesheet">
    <%= stylesheet_pack_tag 'application' %>
  </head>

  <body>
    <%# yield %>
    <div id="metool"></div>
    <%= javascript_pack_tag 'metool' %>
  </body>
</html>
